<form [formGroup]="signupForm" (ngSubmit)="submit(signupForm.value)">
  <app-error-label [control]="signupForm" [submitted]="submitted">
    {{ signupForm.errors }}
  </app-error-label>
  <app-input-field [attribute]="'email'"
               [type]="'email'"
               [control]="signupForm.controls['email']"
               [submitted]="submitted">
  </app-input-field>

  <app-input-field [attribute]="'password'"
               [type]="'password'"
               [control]="signupForm.controls['password']"
               [submitted]="submitted">
  </app-input-field>
  <button type="submit">Submit</button>  
</form>