<h2>Log In</h2>
<form [formGroup]="loginForm" (ngSubmit)="submit(loginForm.value)">
  <app-error-label [control]="loginForm" [submitted]="submitted"></app-error-label>
  <app-input-field [attribute]="'email'"
               [type]="'email'"
               [control]="loginForm.controls['email']"
               [submitted]="submitted">
  </app-input-field>

  <app-input-field [attribute]="'password'"
               [type]="'password'"
               [control]="loginForm.controls['password']"
               [submitted]="submitted">
  </app-input-field>
  <button type="submit">Submit</button>
</form>
<button (click)="signInWithGithub()">Sign In with Github</button>
